<h1> Reservations </h1>

<ul>
  <% @reservations.each do |reservation| %>
    <li>
      <%= link_to reservation.start_date, reservation %>
    </li>
  <% end %>
</ul>

<%= link_to "New Reservation", new_reservation_path %>