<h1><%= "Your trip from #{@reservation.start_date} to #{@reservation.end_date}" %>

<body>
<div> Price: </div>
<div>
  <%= @reservation.price %>
</div>

<div> Total: </div>
<div>
  <%= @reservation.total %>
</div>